.places > h1 {
  font-size: 30px;
}
.places > div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.places > div > article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  /* font-size: 30px; */
  text-align: center;
}
